---
http_interactions:
- request:
    method: get
    uri: https://www.bloomremit.net/api/v1/partners/73b353d4-03c0-4b8e-a141-e91552a0c6d5/credits/history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Secret:
      - 2d9273284f9ebbb4c5734638f1f50a3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d80bdc3b750359fc79daaff809fba74c"
    body:
      encoding: UTF-8
      string: '[{"amount_in_php":-100.0,"balance":23175.747119224,"consumed":true,"created_at":"2020-09-15T14:51:45.227+08:00","id":527631,"item_id":"251204","item_type":"Settlement","rate":1.0,"source_amount":"-100.0","source_currency":"PHP","target_amount":-100.0,"target_currency":"PHP","updated_at":"2020-09-15T14:51:45.227+08:00"},{"amount_in_php":-3150.25,"balance":23275.747119224,"consumed":true,"created_at":"2020-09-15T14:51:45.214+08:00","id":527630,"item_id":"251204","item_type":"Settlement","rate":1.0,"source_amount":"-3150.25","source_currency":"PHP","target_amount":-3150.25,"target_currency":"PHP","updated_at":"2020-09-15T14:51:45.214+08:00"},{"amount_in_php":-100.0,"balance":26425.997119224,"consumed":true,"created_at":"2020-09-15T14:51:42.067+08:00","id":527629,"item_id":"251202"[...]
