---
http_interactions:
- request:
    method: get
    uri: https://www.bloomremit.net/api/v1/partners/73b353d4-03c0-4b8e-a141-e91552a0c6d5/senders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Secret:
      - 2d9273284f9ebbb4c5734638f1f50a3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e86d77d5305f01df3fdce9b6fd58bfe"
    body:
      encoding: UTF-8
      string: '[{"id":"aeaba496-292b-49d4-bacb-efb41be96d9f","email":"hr@makisu.co","created_at":"2020-08-28T12:26:51.371+08:00","updated_at":"2020-09-15T14:51:29.796+08:00","first_name":"Makisu","last_name":"Software
        Consulting Services","passport_number":null,"passport_expiry_date":null,"tin":null,"mobile":"6.39E+11","photo_uid":null,"photo_name":null,"id_photo_uid":null,"id_photo_name":null,"identification_type":"passport","identification_number":null,"identification_details":null,"address":"7F
        Finman Building, 131 Tordesillas St., Salcedo Village, Makati City, Philippines
        1229","city":null,"state":null,"zip_code":null,"country":"PH","birthdate":null,"deleted_at":null,"dragonpay_userid":null,"sending_level":0,"occupation":null}]'
  recorded_at: Mon, 21 Sep 2020 06:56:55 GMT
recorded_with: VCR 6.0.0
