---
http_interactions:
- request:
    method: put
    uri: https://www.bloomremit.net/api/v1/partners/73b353d4-03c0-4b8e-a141-e91552a0c6d5/senders/46572a31-a85a-41a5-a45f-bb5518f47340
    body:
      encoding: US-ASCII
      string: user%5Bfirst_name%5D=Bye
    headers:
      X-Api-Secret:
      - 2d9273284f9ebbb4c5734638f1f50a3d
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54adaf0d3050f3d62436e2a40074c9eb"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"46572a31-a85a-41a5-a45f-bb5518f47340","first_name":"Bye","email":"hellotester@example.com","last_name":"Tester","passport_number":null,"passport_expiry_date":null,"tin":null,"mobile":"+639175551111","address":"251
        Salcedo St., Legaspi Village","city":"Makati City","state":null,"zip_code":null,"country":"PH","birthdate":null}}'
  recorded_at: Mon, 21 Sep 2020 08:28:32 GMT
recorded_with: VCR 6.0.0
