---
http_interactions:
- request:
    method: get
    uri: https://www.bloomremit.net/api/v1/partners/73b353d4-03c0-4b8e-a141-e91552a0c6d5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Secret:
      - 2d9273284f9ebbb4c5734638f1f50a3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4081c85abc6cd3882c8757a3a90b5bf"
    body:
      encoding: UTF-8
      string: '{"id":"95f658c8-3025-40cb-a7d1-b2f318536f45","name":"Makisu Software
        Consulting Services","slug":"makisu","domain":null,"active":true,"orig_currency":"PHP","dest_currency":"PHP","min_amount_in_orig_currency":0.0,"max_amount_in_orig_currency":0.0,"website":"https://makisu.co","address":"7F
        Finman Building, 131 Tordesillas St, Salcedo Village","zip_code":"","country":"PH","phone":"","email":"hello@makisu.co","flat_fee_in_orig_currency":0.0,"forex_margin":0.0,"agent_ids":["91865374-af28-4c3d-b3a8-0b0d9a0e6d42"],"credit_in_php":23175.747119224,"credit_in_vnd":0.0}'
  recorded_at: Sat, 19 Sep 2020 07:29:02 GMT
recorded_with: VCR 6.0.0
