---
http_interactions:
- request:
    method: post
    uri: https://www.bloomremit.net/api/v1/partners/73b353d4-03c0-4b8e-a141-e91552a0c6d5/senders
    body:
      encoding: UTF-8
      string: '{"agent_id":"9e7d651f-d94c-42a2-824c-a2413796c2fb","sender":{"first_name":"Hello","last_name":"Tester","email":"hellotester@example.com","mobile":"+639175551111","address":"251
        Salcedo St., Legaspi Village","city":"Makati City","country":"PH","postal_code":"1600"}}'
    headers:
      X-Api-Secret:
      - 2d9273284f9ebbb4c5734638f1f50a3d
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"429d6bf2f85a731e8f573f4a1efb88a2"
    body:
      encoding: UTF-8
      string: '{"sender":{"id":"46572a31-a85a-41a5-a45f-bb5518f47340","email":"hellotester@example.com","first_name":"Hello","last_name":"Tester","passport_number":null,"passport_expiry_date":null,"tin":null,"mobile":"+639175551111","address":"251
        Salcedo St., Legaspi Village","city":"Makati City","state":null,"zip_code":null,"country":"PH","birthdate":null}}'
  recorded_at: Mon, 21 Sep 2020 07:21:30 GMT
recorded_with: VCR 6.0.0
